#header {
    font-size: 50px;
    font-family: Oxygen;
    background-color: white;
    top: 0;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

#plant-grid {
    padding-top: 50px;
    padding-left: 30px;
    cursor: url("/img/clipart-shovel-167e.png") auto;
}

#meters {
    background: #00b7ea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00b7ea 0%, #009ec3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 40px;
    color: black;
    box-shadow: 0px 5px 50px black;
}

#game-frame {
    border: 3px solid black;
    background-image: url("/img/grass-textures-17.jpg");
    box-shadow: 0px 10px 60px black;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#plant-spot {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    background-image: url("/img/rock-texture71.jpg");
    box-shadow: 0px 0px 30px black;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#plant-spot:hover {
    box-shadow: 0px 0px 10px white;
}

br {
    display: block;
    margin: 0;
}

#seed-prompt {}

.meter {
    font-family: Oxygen;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
    float: right;
    font-weight: bold;
}

.meter::before {
    font-weight: lighter;
}

#plants {
    display: inline-block;
}

#creek {
    display: inline-block;
    float: right;
    margin-right: 50px;
    height: 460px;
    text-align: center;
}


/*.Corn {
    content: url("/img/ear_of_yellow_corn.png");
}

.Potato {
    content: url("/img/potato.png");
}

.Rice {
    content: url("/img/rice.png");
}*/

#day-meter::before {
    content: "Day ";
}

#water-meter::before {
    content: "Water: ";
}

#money-meter::before {
    content: "Money: ";
}

.tooltip .tooltip-content {
    z-index: 10;
    position: absolute;
    padding: 14px 20px;
    margin-top: -50px;
    margin-left: 10px;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition: opacity 0.3s ease-in-out;
    -moz-transition-delay: 0.3s;
}

.tooltip:hover .tooltip-content {
    display: inline;
    position: absolute;
    opacity: 1;
    color: #111;
    visibility: visible;
    border: 1px solid grey;
    background: white;
}

.tooltip .tooltip-content {
    border-radius: 4px;
    box-shadow: 0px 0px 20px black;
}

body {
    margin: 0;
    background-image: url('/img/barn.jpg');
    background-attachment: fixed;
    font-family: Oxygen;
}

.plant-img {
    height: 50px;
    width: 50px;
}

#next {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border: 3px solid white;
    width: 150px;
    padding-left: 5px;
    transition: all 1s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 0px black;
    text-align: center;
    font-size: 30px;
    top: -30px;
}

#next:hover {
    padding-left: 50px;
    border: 3px solid black;
    box-shadow: 0px 0px 50px black;
}

#shop-btn {
    position: relative;
    background-color: white;
    display: inline-block;
    border: 3px solid white;
    padding: 10px;
    width: 100px;
    text-align: left;
    padding-left: 5px;
    transition: all 1s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 0px black;
    text-align: center;
    font-size: 30px;
    top: -30px;
    float: right;
}

#shop-btn:hover {
    padding-right: 50px;
    border: 3px solid black;
    box-shadow: 0px 0px 50px black;
}

#button-wrapper {}

#shop {
    position: relative;
    top: -500px;
    width: 700px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 40px black;
    border-radius: 5px;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 0.5s;
}

#shop-title {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 50px;
}

#shop-item {
    display: inline-block;
    cursor: pointer;
}

#shop-close {
    float: right;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: red;
    content: "X"
}

.closed {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
}

.closed-alt {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
}

.open {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

#start {
    position: relative;
    top: -500px;
    width: 800px;
    left: 0px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
    -webkit-transition: all 0.5s;
    opacity: 1;
}

.shop-img {
    width: 100px;
}

#rainwater {
    position: relative;
    top: -100px;
    left: 500px;
    display: none;
}

.tooltip .tooltip-content2 {
    z-index: 10;
    position: absolute;
    padding: 14px 20px;
    margin-top: -50px;
    margin-left: 10px;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition: opacity 0.3s ease-in-out;
    -moz-transition-delay: 0.3s;
}

.tooltip:hover .tooltip-content2 {
    display: inline;
    position: absolute;
    opacity: 1;
    color: #111;
    visibility: visible;
    border: 1px solid grey;
    background: white;
}

.tooltip .tooltip-content2 {
    border-radius: 4px;
    box-shadow: 0px 0px 20px black;
}

#white {
    position: relative;
    top: -1000px;
    width: 800px;
    left: 0px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.white-visible {
    opacity: 1;
    display: block;
}

.white-inv {
    opacity: 0;
    display: none;
}
