#header {
    font-size: 50px;
    font-family: Oxygen;
    background-color: white;
    top: 0;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

#plant-grid {
    padding-top: 50px;
    padding-left: 30px;
}

#meters {
    background: #00b7ea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00b7ea 0%, #009ec3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 40px;
    color: black;
    box-shadow: 0px 5px 50px black;
}

#game-frame {
    border: 5px solid black;
    background-image: url("/img/grass-textures-17.jpg");
    box-shadow: 0px 10px 60px black;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#plant-spot {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    background-image: url("/img/rock-texture71.jpg");
    box-shadow: 0px 2px 30px black;
    text-align: center
}

br {
    display: block;
    margin: 0;
}

#seed-prompt {}

.meter {
    font-family: Oxygen;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
    float: right;
}

#plants {
    display: inline-block;
}

#creek {
    display: inline-block;
    float: right;
    margin-right: 50px;
    height: 460px;
}

/*.Corn {
    content: url("/img/ear_of_yellow_corn.png");
}

.Potato {
    content: url("/img/potato.png");
}

.Rice {
    content: url("/img/rice.png");
}*/

#day-meter::before {
    content: "Day ";
}

#water-meter::before {
    content: "Water: ";
}

#money-meter::before {
    content: "Money: ";
}

.tooltip .tooltip-content {
    z-index: 10;
    position: absolute;
    padding: 14px 20px;
    margin-top: -50px;
    margin-left: 10px;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition: opacity 0.3s ease-in-out;
    -moz-transition-delay: 0.3s;
}

.tooltip:hover .tooltip-content {
    display: inline;
    position: absolute;
    opacity: 1;
    color: #111;
    visibility: visible;
    border: 1px solid grey;
    background: white;
}

.tooltip .tooltip-content {
    border-radius: 4px;
    box-shadow: 0px 0px 20px black;
}

body {
     margin: 0;
     background-image: url('/img/barn.jpg');
     background-attachment: fixed;
     font-family: Oxygen;
}

.plant-img {
     height: 50px;
     width: 50px;
}

#next {
     background-color: white;
     padding: 10px;
     width: 100px;
     padding-left: 5px;
     transition: all 1s;
     -webkit-transition: all 0.3s;
     cursor: pointer;
     box-shadow: 0px 0px 0px black;
     text-align: center;
}

#next:hover {
     padding-left: 50px;
     box-shadow: 0px 0px 50px black;
}